# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
*.env

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# macOS
.DS_Store

# Other
*.pot
*.pyc
*.swp
*.swo
.idea/
*.sqlite3
node_modules/
coverage/
htmlcov/
