{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - Health Information System{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2>{{ title }}</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.date_of_birth|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.gender|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.contact_number|as_crispy_field }}
                            </div>
                        </div>
                        {{ form.address|as_crispy_field }}
                        {{ form.emergency_contact|as_crispy_field }}
                        
                        <div class="mt-4">
                            <a href="{% url 'client_list' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

